In [6]:
#install pymongo
!python -m pip install pymongo

Requirement already satisfied: pymongo in c:\users\cemtrex\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\cemtrex\anaconda3\lib\site-packages (from pymongo) (2.2.1)

In [7]:
#checking pymongo is installed
import pymongo

In [8]:
#Create a first db in Mongodb using pymongo
#create a mongo client object

new_client=pymongo.MongoClient('mongodb://localhost:27017/')
new_db=new_client['data_test']

In [9]:
new_db=new_client['data_test']

new_col=new_db['students']

new_dict={"name":"Dony","code":"code11"}

adding=new_col.insert_one(new_dict)

print(adding)

<pymongo.results.InsertOneResult object at 0x000001F145BC5520>

In [12]:
#inserting many values at a time

#import py mongo
import pymongo

new_client=pymongo.MongoClient('mongodb://localhost:27017/')

new_db=new_client['new_data']

new_col=new_db['students']

list_of_students=[
    {"name":"chaitanya", "code":"code01"},
    {"name":"darshani", "code":"code02"},
    {"name":"yuvraj", "code":"code03"},
    {"name":"vaishnavi", "code":"code04"},
    {"name":"dhananjay", "code":"code05"},
    {"name":"gaurav", "code":"code06"}

]

adding_many=new_col.insert_many(list_of_students)

print(adding_many.inserted_ids)

[ObjectId('63bbb795d35ea53ce8a54406'), ObjectId('63bbb795d35ea53ce8a54407'), ObjectId('63bbb795d35ea53ce8a54408'), ObjectId('63bbb795d35ea53ce8a54409'), ObjectId('63bbb795d35ea53ce8a5440a'), ObjectId('63bbb795d35ea53ce8a5440b')]

In [13]:
#inserting Id no 
import pymongo

new_client=pymongo.MongoClient('mongodb://localhost:27017/')

new_db=new_client['new_data']

new_col=new_db['new_students']

list_of_students=[
    {"_id":1,"name":"chaitanya", "code":"code01"},
    {"_id":2,"name":"darshani", "code":"code02"},
    {"_id":3,"name":"yuvraj", "code":"code03"},
    {"_id":4,"name":"vaishnavi", "code":"code04"},
    {"_id":5,"name":"dhananjay", "code":"code05"},
    {"_id":6,"name":"gaurav", "code":"code06"}

]

adding_many=new_col.insert_many(list_of_students)

print(adding_many.inserted_ids)

[1, 2, 3, 4, 5, 6]

In [14]:
##finding data in a collection

finding=new_col.find_one()
print(finding)

{'_id': 1, 'name': 'chaitanya', 'code': 'code01'}

In [16]:
#looping through docu

for docu in new_col.find():
    print(docu)

{'_id': 1, 'name': 'chaitanya', 'code': 'code01'}
{'_id': 2, 'name': 'darshani', 'code': 'code02'}
{'_id': 3, 'name': 'yuvraj', 'code': 'code03'}
{'_id': 4, 'name': 'vaishnavi', 'code': 'code04'}
{'_id': 5, 'name': 'dhananjay', 'code': 'code05'}
{'_id': 6, 'name': 'gaurav', 'code': 'code06'}

In [17]:
#looking for specific query
new_query={"code":"code01"}

new_doc=new_col.find(new_query)

for x in new_doc:
    print(x)

{'_id': 1, 'name': 'chaitanya', 'code': 'code01'}

In [18]:
#using modifier
import pymongo

new_client=pymongo.MongoClient('mongodb://localhost:27017/')

new_db=new_client['new_data']

new_col=new_db['new_students']

new_query={"code":{"$gt":"code"} }

new_doc= new_col.find(new_query)

for x in new_doc:
    print(x)

{'_id': 1, 'name': 'chaitanya', 'code': 'code01'}
{'_id': 2, 'name': 'darshani', 'code': 'code02'}
{'_id': 3, 'name': 'yuvraj', 'code': 'code03'}
{'_id': 4, 'name': 'vaishnavi', 'code': 'code04'}
{'_id': 5, 'name': 'dhananjay', 'code': 'code05'}
{'_id': 6, 'name': 'gaurav', 'code': 'code06'}

In [20]:
#sorting data with variable
new_query=new_col.find().sort("name")

for x in new_query:
    print(x)

{'_id': 1, 'name': 'chaitanya', 'code': 'code01'}
{'_id': 2, 'name': 'darshani', 'code': 'code02'}
{'_id': 5, 'name': 'dhananjay', 'code': 'code05'}
{'_id': 6, 'name': 'gaurav', 'code': 'code06'}
{'_id': 4, 'name': 'vaishnavi', 'code': 'code04'}
{'_id': 3, 'name': 'yuvraj', 'code': 'code03'}

In [21]:
#sorting in descending order
#sorting data with variable
new_query=new_col.find().sort("name",-1)

for x in new_query:
    print(x)

{'_id': 3, 'name': 'yuvraj', 'code': 'code03'}
{'_id': 4, 'name': 'vaishnavi', 'code': 'code04'}
{'_id': 6, 'name': 'gaurav', 'code': 'code06'}
{'_id': 5, 'name': 'dhananjay', 'code': 'code05'}
{'_id': 2, 'name': 'darshani', 'code': 'code02'}
{'_id': 1, 'name': 'chaitanya', 'code': 'code01'}

In [22]:
#deleting single entery
new_query={"code":"code01"}

new_col.delete_one(new_query)

for x in new_col.find():
    print(x)

{'_id': 2, 'name': 'darshani', 'code': 'code02'}
{'_id': 3, 'name': 'yuvraj', 'code': 'code03'}
{'_id': 4, 'name': 'vaishnavi', 'code': 'code04'}
{'_id': 5, 'name': 'dhananjay', 'code': 'code05'}
{'_id': 6, 'name': 'gaurav', 'code': 'code06'}

In [23]:
#deleting more than one
new_q={"name":{"$regex":"code03"}}

x=new_col.delete_many(new_q)

print(x.deleted_count,"documents deleted from the collection")

0 documents deleted from the collection

In [24]:
#removeing all 
remove_all=new_col.delete_many({})

print(remove_all.deleted_count,"document deleted from the collection")

5 document deleted from the collection

In [25]:
#drope method
new_col.drop()

In [ ]:
#updating collection in mongo db