### Installing MYsql Connector

In [1]:
#installing python mysql connector
!python -m pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\cemtrex\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\cemtrex\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [2]:
#import my sql connector
import mysql.connector

* The connect() constructor creates a connection to the MySQL server and returns a MySQLConnection object,The following example shows how to connect to the MySQL server:

In [3]:
#create a connection to database
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
)

print(new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000018361350C70>

### Create a Database and testing

In [4]:
#importing module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
)

#create a cursor
new_cursor=new_db.cursor()

#creata a database with new cursor
new_cursor.execute("CREATE DATABASE newData")

In [5]:
#check database is created or not

#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
)

#create a cursor
new_cursor=new_db.cursor()

#check newData database created or not
new_cursor.execute("SHOW DATABASES")

#use for loop to iterate over the cursor for checking of database
for n in new_cursor:
    print(n)

('information_schema',)
('mysql',)
('newdata',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [7]:
#alternative method to check database exists or not

#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

### Creating Tables and Checking

In [8]:
#creating table if no error table is created

#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()
new_cursor.execute('CREATE TABLE students (name VARCHAR(255), code VARCHAR(255))')

### List of Tables in newData

In [9]:
#checking created table

#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()
new_cursor.execute('SHOW TABLES')

for x in new_cursor:
    print(x)

('students',)

### Add Primary key for Tables

In [10]:
#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()
new_cursor.execute("CREATE TABLE client(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), code VARCHAR(255))")

### Add Primary Key if table already exists

In [11]:
#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()
new_cursor.execute("ALTER TABLE students ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY ")

### Insert records into tables

In [12]:
#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()

new_sql = "INSERT INTO  students (name,code) VALUES (%s, %s)"
new_vals=("Ronaldo","CODE12")

new_cursor.execute(new_sql,new_vals)

new_db.commit()

print(new_cursor.rowcount,"new recored inserted")

1 new recored inserted

### adding many records

In [15]:
#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()
new_sql = "INSERT INTO  students (name,code) VALUES (%s, %s)"

new_val=[
    ("Mesi","code30"),
    ("Pogba","code06"),
    ("Salah","code11"),
    ("Someone","code110")
]

new_cursor.executemany(new_sql,new_val)

new_db.commit()

print(new_cursor.rowcount,"new recored inserted")

4 new recored inserted

### SELECT and fetch all data

In [16]:
#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()

new_cursor.execute("SELECT * FROM students")

new_data=new_cursor.fetchall()

for x in new_data:
    print(x)

('Ronaldo', 'CODE12', 1)
('Mesi', 'code30', 2)
('Pogba', 'code06', 3)
('Salah', 'code11', 4)
('Someone', 'code110', 5)

### select column

In [21]:
#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()

new_cursor.execute("select name FROM students")
new_data=new_cursor.fetchall()

for x in new_data:
    print(x)

('Ronaldo',)
('Mesi',)
('Pogba',)
('Salah',)
('Someone',)

In [23]:
#fetch only single row/data from table 

#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()

new_cursor.execute("select * FROM students")
new_data=new_cursor.fetchone()

print(new_data)

('Ronaldo', 'CODE12', 1)

### Filter The Results

In [24]:
#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()

new_sql="SELECT * FROM students WHERE name='Ronaldo'"

new_cursor.execute(new_sql)

new_data=new_cursor.fetchall()

for x in new_data:
    print(x)

('Ronaldo', 'CODE12', 1)

### Wild Card Character

In [27]:
#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()

new_sql="SELECT * FROM students WHERE name LIKE '%Mesi%' "

new_cursor.execute(new_sql)

new_data=new_cursor.fetchall()

for x in new_data:
    print(x)

('Mesi', 'code30', 2)

### Sorting The Results

In [28]:
#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()

new_sql="SELECT * FROM students ORDER BY name"

new_cursor.execute(new_sql)

new_data=new_cursor.fetchall()

for x in new_data:
    print(x)

('Mesi', 'code30', 2)
('Pogba', 'code06', 3)
('Ronaldo', 'CODE12', 1)
('Salah', 'code11', 4)
('Someone', 'code110', 5)

In [30]:
#descending order
#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()

new_sql="SELECT * FROM students ORDER BY code DESC"

new_cursor.execute(new_sql)

new_data=new_cursor.fetchall()

for x in new_data:
    print(x)

('Mesi', 'code30', 2)
('Ronaldo', 'CODE12', 1)
('Someone', 'code110', 5)
('Salah', 'code11', 4)
('Pogba', 'code06', 3)

### DELETING Records

In [37]:
#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()

new_sql="DELETE FROM students WHERE name =%s "
name=("Ronaldo",)

new_cursor.execute(new_sql,name)

new_db.commit()

print(new_cursor.rowcount,"records deleted from new data")

1 records deleted from new daata

### Deleting Table

In [41]:
#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()

new_sql="DROP TABLE IF EXISTS  client"


new_cursor.execute(new_sql)

### Updating Tables and Escaping values

In [46]:
#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()

new_sql="UPDATE students SET code =%s WHERE  code =%s "
new_vals=('Code12','Code07')


new_cursor.execute(new_sql,new_vals)

new_db.commit()

print(new_cursor.rowcount,"records changed in students tables!")

0 records changed in students tables!

### Limit The Records

In [49]:
#import module
import mysql.connector

#creating new connection
new_db=mysql.connector.connect(
    host='localhost',
    user='root',
    password='root',
    database='newData'
)

new_cursor=new_db.cursor()

new_sql="SELECT * FROM students LIMIT 2 OFFSET 1"

new_cursor.execute(new_sql)

new_data=new_cursor.fetchall()

for x in new_data:
    print(x)

('Salah', 'code11', 4)
('Someone', 'code110', 5)