In [7]:
#import sqlite3 and create database
import sqlite3
new_connection=sqlite3.connect("data_testing.db")

In [8]:
#check type of connection
type(new_connection)

sqlite3.Connection

In [9]:
print(type(new_connection))

<class 'sqlite3.Connection'>

In [14]:
#create cursor
new_cursor=new_connection.cursor()
print(type(new_cursor))

<class 'sqlite3.Cursor'>

In [15]:
new_sql="SELECT datetime('now','localtime');"

In [18]:
new_cursor.execute(new_sql)

In [19]:
#check or fetch details
new_cursor.fetchone()

('2023-01-09 09:39:31',)

In [20]:
#fetch new date time
new_dtime=new_cursor.execute(new_sql).fetchone()[0]

In [21]:
new_dtime

'2023-01-09 09:45:23'

In [22]:
#close the connection
new_connection.close()

In [24]:
#with statement
with sqlite3.connect("data_testing.db") as new_connection:
    new_cursor=new_connection.cursor()
    new_sql = "SELECT datetime('now','localtime');"
    new_dtime=new_cursor.execute(new_sql).fetchall()[0]

In [25]:
print(new_dtime)

('2023-01-09 10:07:23',)

### Create a Table with Values

In [26]:
import sqlite3

new_connection=sqlite3.connect('data_testing.db')
new_cursor=new_connection.cursor()

new_cursor.execute("CREATE TABLE clients(Name TEXT, NUmber INT);")

new_cursor.execute("INSERT INTO clients VALUES('Dany',2030)")

new_connection.commit()
new_connection.close()

In [27]:
#fetching data form db

new_connection=sqlite3.connect("data_testing.db")
new_cursor=new_connection.cursor()

new_cursor.execute("SELECT * FROM clients;")

In [28]:
new_cursor.fetchone()

('Dany', 2030)

In [29]:
#drop table

new_cursor.execute("DROP TABLE clients;")

In [30]:
new_connection.commit()
new_connection.close()

In [31]:
#final example
import sqlite3

new_value=(
    ("Ronaldo",7),
    ("Messi",30),
    ("salah",11),
)

with sqlite3.connect("data_testing.db") as new_connection:
    new_cursor=new_connection.cursor()
    new_cursor.execute("DROP TABLE IF EXISTS clients")
    new_cursor.execute("CREATE TABLE clients(NAME TEXT,Number INT);")

    new_cursor.executemany("INSERT INTO clients VALUES(?,?)",new_value)
    new_cursor.execute("SELECT Name, Number FROM clients WHERE number >7;")

    for x in new_cursor.fetchall():
        print(x)

('Messi', 30)
('salah', 11)